<!DOCTYPE html>
<html lang="pt_br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Criar um ponto de Coleta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&Cedarville+Cursive:ital,wght@1,400;1,700&display=swap" rel="stylesheet">
  

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/responsive.css">
</head>
<body>

    <div id="page-create-point">


        
            <header>
        
                <img src="/assets/logo.svg">           
                <a href="/index.html">
                    <span></span>
                 
                    Voltar para a Home </a>
        
            </header>

       <form action="">


        <h1>Cadastro do ponto de coleta</h1>
        <fieldset>
            <legend>
                <h2>Dados da Entidade</h2>

            </legend>
            <div class="field">
                <label for="name">Nome da Entidade</label>
                <input type="text" name="name">
            </div>
                <div class="field-group">
                    <div class="field">
                        <label for="adress">Endereço</label>
                        <input type="text" name = "adress">
                    </div>
                    <div class="field">
                        <label for="number">Número/Complemento</label>
                        <input type="text" name = "number">
                        
                    </div>
                </div>

                <div class="field-group">
                    
                    
                </div>
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>
                    <input type="hidden" name="state">
                       
                    </select>


                    <div class="field">
                        <label for="city">Cidade</label>
                       <select name="city"  disabled >
                           
                        <option value="">Selecione a Cidade</option>    
                    </select>

                        
                        
                    </div>
        </fieldset>

        <fieldset>
            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>
            <div class="items-grid">
                <li data-id="Lâmpadas">
                    <img src="assets/lampadas.svg" alt="Lâmpadas">
                    <span>Lâmpadas</span>
                </li>
                <li data-id="Pilhas e Baterias">
                    <img src="assets/baterias.svg" alt="Pilhas e Baterias">
                    <span>Pilhas e Baterias</span>
                </li>
                <li data-id="Papéis e Papelão">
                    <img src="assets/papeis-papelao.svg" alt="Papéis e Papelão">
                    <span>Papéis e Papelão</span>
                </li>
                <li data-id="Resíduos Eletrônicos">
                    <img src="assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                    <span>Resíduos Eletrônicos</span>
                </li>
                <li data-id="Resíduos Orgânicos">
                    <img src="assets/organicos.svg" alt="Resíduos Orgânicos">
                    <span>Resíduos Orgânicos</span>
                </li>
                <li data-id="Óleo de Cozinha">
                    <img src="assets/oleo.svg" alt="Óleo de Cozinha">
                    <span>Óleo de Cozinha</span>
                </li>
            </div>
            <input type="hidden" name="items">
        </fieldset>

        <button type="submit"> Cadastar ponto de Coleta   </button>

       </form>
            
        
       
    </div>

    

</div>

    <script src="/scripts/create-point.js">
</script>
</body>
</html>