
@media( max-width: 900px ){
    
#page-home {

    background-position-x: 70vw;
}

#page-home  .content{

    align-items: center;
    text-align: center;
}

#page-home header a {

    position: absolute;
    bottom: 48px;
    transform: translate(-50%);



}

#page-home main {

    align-items: center;
}
}